h1{  /* h1 tag is block level element*/
    text-align: center;
    display: inline; /* It is used to convert block to inline level element*/

}
b{ /* b tag is inline level element*/
    background: rgb(8, 128, 8);
    text-align: center;
    display: block; /* It is used to convert inline to block level element*/
}

button{
    display: block;
    width: 40%;
    text-align: auto;  /*Here text align is effective only for text inside the box fiels*/
    margin: 10vh auto;   /*Here the vh refers to viewport (here it takes exactly 10% of the current webpage)*/
}
input{
    background: lightyellow;
    display: block;
    width: 40%;
    margin: auto;
    text-align: center;
    padding: 2vh 1vw;
}

.square{
    border: solid 2px black;
    width: 100px;
    height: 100px;
}

.box{
    border: solid 2px black;
    height: 150px;
    width: 150px; 
    margin: 0px 10px;   
}

.clr1{
    background: red;
}
.clr2{
    background: yellow;
}
.clr3{
    background: green;
}

.container{
    display: flex;
    /*Flex is used to convert all child element of both inline / block level to in-line level elements*/
    justify-content:center;
    /* justify-content is completely dependent on display-flex */
    /* left / start (default) / right / end / center / space evenly space-between space-around */
    background: black;
}

.textbox{
    height: 200px;
    width: 200px;
    border: solid 2px black;
    background: lightblue;
    margin:10vh auto ;

    display: flex;
    justify-content: center; /* justify-content is used to modify in horizontal wise */
    align-items: center; /* align-items is used modify in vertical wise */

}
.letterbox{
    height: 200px;
    width: 200px;
    border: solid 2px black;
    background: rgb(189, 134, 189);
    margin:10vh auto ;

    display: flex;
    align-items: end;  
    justify-content: end; 
}

.square{
    height: 200px;
    width: 200px;
    border: solid 2px black;
    background:white;
    margin: auto; 
    display: flex;
    justify-content: center;
    align-items: center;

}

.circle{
    height: 50px;
    width: 50px;
    border: solid 1px black;
    background: red;
    border-radius: 50%;

}

.sq{
    height: 200px;
    width: 200px;
    border: solid 1px black;
    background: yellow;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: right;
}

.sq1{
    height: 50px;
    width: 50px;
    margin: 5px;
    border: solid 1px black;
    background: blueviolet;
}

.sq2{
    height: 50px;
    width: 50px;
    margin: 5px;
    border: solid 1px black;
    background: blue;
}
.small_sq{
    width: 500px;
    margin: 10vh auto;
    border: solid 1px black;
    background: red;
    margin: 10vh auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px , 10px;
    row-gap: 10px;
    column-gap: 10px;
}

.boxx1{
    height: 50px;
    width: 50px;
    border: solid 1px black;
    background-color: blue;
}