body{
    background-image: url('./Image/image1.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    /* repeat (default) / no-repeat / repeat-x / repeat-y */
    background-position: center;
    /* top left (default) / top / top right / bottom left / bottom / bottom right 
    left / center / right */
    background-size: cover;
    /* auto  / contain / cover */
    background-attachment: fixed;
    /* scroll (default) : both content and bg image are scroll
    fixed : bg image is fixed , but content is scrollable
    */
    
    
    
}
h1{
    color: #ffffff;
}
p{
    color: yellow;
}