button,a{
    display: block;
    margin: auto;
    width: 30%;
    padding: 2vh 0;
    font-size: large;
    font-weight: bold;
    border: solid 2px black;
    background: red;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

button:hover{
    background-color: yellow;
    border: solid 2px yellow;
    color: black;
}

button:active{
    transform: scale(.75);
}

a{
    text-align: center;
    text-decoration: none;
    font-family: sans-serif;
}

a:hover{
    background-color: yellow;
    border: solid 2px yellow;
    color: black; 
}

a:active{
    transform: scale(.75);
}