.square{
    border-style: solid;
    border-width: 5px;
    height: 100px;
    width: 100px;
    background-color: red;
}

.rectangle{
    border-style: solid;
    border-width: 5px;
    height: 100px;
    width: 200px;
    background-color: aqua;
}

.Circles{
    border-style: solid;
    border-width: 5px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: yellow;
}

.Ovals{
    border-style: solid;
    border-width: 5px;
    height: 100px;
    width: 50px;
    border-radius: 50%;
    background-color: orange;

}

.Cube{
    border: solid 5px black;
    height: 250px;
    width: 250px;
    border-top:solid 50px green;
    border-right: solid 50px red;
    border-bottom:solid 50px yellow;
    border-left: solid 50px blue;

}

.leaf{
    border: solid 5px green;
    background-color: green;
    height: 100px;
    width: 100px;
    border-radius: 100% 0%;
    
}
.chat_icon{
    border: solid 5px black;
    background-color: rgb(62, 224, 62);
    height: 100px;
    width: 100px;
    border-radius: 200%;
    border-bottom-right-radius: 100% 0%;
    ;
    
}

.triangle{
    height: 0;
    width: 0;
    border-left: 100px solid white;
    border-right: 100px solid white;
    border-bottom: 100px solid red;
}