*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    width:100%;
    text-align: center;
    justify-content:space-between;
    background:yellow;
}

.logo{
    margin: auto 10vw;
    display: block;
}

.links{
    margin: auto 10vw;
}

.links ul{
    display: flex;
    list-style-type: none;
    gap: 40px;
    margin: 2vh auto;
}

img{
    height: 400px;
    width: 200px;
    border-radius: 30px;
}

a{
    text-decoration: none;
    color: black;
    font-size: large;
    justify-content: space-evenly;
}

.box{
    height: 400px;
    width: 200px;
    border-radius: 30px;
    filter: blur(3px);
}

.container{
    display: grid;
    grid-template-columns: repeat(4,auto)   ;
    justify-content: space-evenly;
    margin: 15vh auto;
    display: grid;
    row-gap: 6vh;
}

.box:hover {
  transform: scale(1.10);
  filter: blur(0px);
}

@media screen  and (min-width:0px) and (max-width:800px){
    .container{
        display: grid;
        grid-template-columns:  auto;
    }
    .box{
        height: 200px;
        width: 400px
    }
    
}